<!-- <body style="width: 100%; height: 100%; background: radial-gradient(ellipse at center, #0264d6 1%,#1c2b5a 100%);"> -->
  <div class="container" >

    <div class="card m-5 text-center">
      <div class="card-header">
        Facebook Post Reader
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">Retrive the facebook post from your accout, Tap on "Get Posts" Button.</p>
        <a class="btn btn-primary">Get Posts</a>
      </div>
    </div>

  </div>
<!-- </body> -->